doctype html
html(lang="en")
    head
    include partials/head.pug
    body 
        h1 aula 13-Pré-processadores
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quisquam velit neque qui sit! Consectetur molestiae, repellat iusto vel quis, praesentium, nihil ab voluptates aspernatur reprehenderit doloremque officia delectus culpa!